<%- include("partials/header.ejs") %>

<div class="container">
    <%- include('partials/navbar.ejs')%>
   
    
    <main class="content">
    <!-- Form to add a new song -->
    <form id="addSongForm" action="/addsong" method="POST">
        <h2 class="form-title">Add a New Song</h2>
        
        <div class="form-group">
            <label for="song_name">Song Title:</label>
            <input type="text" id="song_name" name="song_name" class="form-control" placeholder="Song Title" required>
        </div>

        <div class="form-group">
            <label for="artist_name">Song Title:</label>
            <input type="text" id="artist_name" name="artist_name" class="form-control" placeholder="Artist" required>
        </div>
    
        <div class="form-group">
            <label for="release_year">Release Year:</label>
            <input type="number" id="release_year" name="release_year" class="form-control" placeholder="Release Year" required>
        </div>
    
        <div class="form-group">
            <label for="duration">Duration:</label>
            <input type="text" id="duration" name="duration" class="form-control" placeholder="Song Duration (e.g., 00:03:45)" required>
        </div>
    
        <div class="form-group">
            <label for="video_url">Video URL (YouTube or other):</label>
            <input type="url" id="video_url" name="video_url" class="form-control" placeholder="YouTube Link" required>
        </div>
    
        <div class="form-group">
            <label for="song_tuning">Guitar Tuning:</label>
            <input type="text" id="song_tuning" name="song_tuning" class="form-control" placeholder="Tuning: e.g., Standard, Drop D" required>
        </div>
    
        <div class="form-group">
            <label for="song_key">Musical Key:</label>
            <input type="text" id="song_key" name="song_key" class="form-control" placeholder="Song key: e.g., C Major, A Minor" required>
        </div>
        <div class="message-container success-container">
            <span id="closeSuccessMessage" class="close-btn success-close-btn">&times;</span>
            <p id="messageConfirmationContainer"> </p>
        </div>
        <button type="submit" class="form-btn">Add Song  <% locals.song_name%> </button>
    </form>
    
    

</main>
</div>

<%- include("partials/footer.ejs") %>

<script>
document.addEventListener("DOMContentLoaded", function(){    })
const success_save = '<%=success%>';
const failed_save = '<%=failed%>';
const song_name = '<%= locals.song_name %>';
const success_box = document.querySelector('.success-container');
const close_btn = document.getElementById('closeSuccessMessage');
const confirmation_msg = document.getElementById('messageConfirmationContainer');

if (success_save === 'true'){
    confirmation_msg.textContent = `Song ${song_name} added to the database!`
    success_box.style.display = 'block'
} 
if(failed_save === 'true') {
    success_box.className = 'message-container error-container'
    close_btn.className = 'close-btn error-close-btn'
    confirmation_msg.textContent = `Error adding song to the database`
    success_box.style.display = 'block'
}

// Close success message when clicking "X"
document.querySelector(".close-btn").addEventListener("click", function () {
    document.querySelector(".message-container").style.display = "none";
});

// const form_btn = document.querySelector(".form-btn")
// form_btn.addEventListener("click", () => {

// })




</script>